[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/WASIDJ/hugo-theme-stack.git
[submodule "content"]
	path = content
	url = https://github.com/WASIDJ/blog-content.git
