<style>
    /* Overwrite CSS variable */
    :root {
        --article-font-family: "Fira Code", "Ma Shan Zheng", var(--base-font-family);
        --code-font-family: "Fira Code", "SFMono-Regular", Menlo, Monaco, Consolas, monospace;
    }
</style>

<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@400&display=swap";
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
    
        document.head.appendChild(customFont);
    }());
</script>

{{ if .Site.Params.article.viewCount }}
<meta name="article-stats-endpoint" content="{{ .Site.Params.article.statsEndpoint }}">
{{ end }}
